<script>
	import Hero from '../components/hero.svelte';
	import About from '../components/about.svelte';
	import Showcase from '../components/showcase.svelte';
	import Commons from '../components/commons.svelte';
	import Footer from '../components/footer.svelte';

</script>

<svelte:head>
	<title>About ZO</title>
</svelte:head>

<div class="container">
  <Hero />
	<About />
	<Footer/>
</div>