<style>
	.about {
		margin-top: 0px;
	}

	.about h4 {
		margin-top: 60px;
		font-size: 20px;
		font-weight: 800;
		text-transform: uppercase;
		color: #CF4E26;
		border-bottom: 6px solid #CF4E26;
		padding-bottom: 6px;
		display: inline-block;
		margin-bottom: 20px;
	}

	.about_text {
		width: 100%;
		text-align: left;
		column-count: 2;
		column-gap: 50px;
		font-weight: normal;
	}

	@media (max-width: 720px) {
		.about_text {
			column-count: 1;
			column-gap: 0px;
		}
	}

	.goals ul {
		list-style: symbols(cyclic "🗹");
		padding-left: 30px;
	}

	.how ul {
		list-style: symbols(cyclic "⚒");
		padding-left: 30px;
	}

	.about_text li {
		padding-left: 10px;
	}

	.about_text p,
	.about_text li {
		font-size: 20px;
		line-height: 30px;
		font-weight: 300;
		/* keep paragraph together: */
		page-break-inside: avoid;
		break-inside: avoid;
		/* display: inline-block;
		width: 100%; */
		margin: 0 0 40px 0;
				list-style: tibetan;

	}

	.about_text p strong,
	.about_text li strong {
		font-weight: 500;
	}

	.about_text li span {
		font-weight: 800;
		color: #CF4E26;
		letter-spacing: 1px;
	}
</style>

<div class="about row">
	<div class="col-12">
		<h4>Our goals</h4>
		<div class="about_text goals">
			<ul>
				<li><strong>Work on ethical projects</strong> that are <a
						href="https://en.wikipedia.org/wiki/Free_software" target="_blank" rel="noopener">libre</a>,
					decentralised, interoperable, secure, respectful of privacy,
					accessible, sustainable, environmentally-friendly, socially responsible, and - above all - that
					<strong>protect human rights</strong>.
				<li>Make solutions that <strong>respect people</strong>’s time and effort, and are functional,
					user-friendly, convenient, reliable, and beautiful.
				<li><span>Cooperation combined with <a href="https://en.wikipedia.org/wiki/Network_effect"
							target="_blank" rel="noopener">network effects</a> is more effective than capitalist
						competition</span>, so we want to foster <strong>more interconnection, cooperation, and
						federation across
						communities</strong>, be they <a href="https://en.wikipedia.org/wiki/Communalism"
						target="_blank" rel="noopener">local</a> or <a href="https://activitypub.rocks/" target="_blank"
						rel="noopener">virtual</a>.
				<li><strong>Work openly</strong>,
					documenting and sharing every step of our process, to help others <strong>improve, build upon, or
						fork</strong> our work.
			</ul>
		</div>

		<h4>How we work</h4>
		<div class="about_text how">
			<ul>
				<li>Using <strong><a href="https://en.wikipedia.org/wiki/Free_software" target="_blank"
							rel="noopener">libre</a></strong> tools (free and open source software), <strong>open
						standards</strong>, and <strong>decentralised</strong> systems on a daily basis.
				<li>Building from the <strong>bottom-up</strong> based on end users’ <strong>needs</strong> and
					experiences.
				<li>Coordinating in a <strong>peer-to-peer</strong> fashion using <a
						href="https://en.wikipedia.org/wiki/Sociocracy#Consent_governs_policy_decision_making_(principle_1)"
						target="_blank" rel="noopener">informed consent</a>. We like to
					experiment with new governance models and economic structures.

				<li><strong>Living inside our experiments</strong>, using what we build on a daily basis.

			</ul>
		</div>
	</div>
</div>