<script>
	import { createEventDispatcher } from 'svelte';

	const dispatch = createEventDispatcher();
</script>

<style>
	.modal-background {
		position: fixed;
        z-index: 8;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.3);
	}

	.modal {
		position: absolute;
        z-index: 9;
		left: 50%;
		top: 50%;
		width: calc(100vw - 4em);
		max-width: 32em;
		max-height: calc(100vh - 4em);
		overflow: auto;
		transform: translate(-50%,-50%);
		padding: 1em;
		border-radius: 4px;
        text-align: left;
		background: white;
	}

	button {
		display: block;
        height: 40px;
        border-radius: 100px;
        width: 160px;
        background: #CF4E26;
        border: 1px solid #000;
        color: white;
        display: block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        margin-top: 40px;
        font-weight: 500;
        font-size: 16px;
	}
</style>

<div class='modal-background' on:click='{() => dispatch("close")}'></div>

<div class='modal'>
	<slot name='header'></slot>
	<slot></slot>
	<button on:click='{() => dispatch("close")}'>close modal</button>
</div>
