<script>
	import Modal from './commonsModal.svelte';
	let showModal = false;
</script>

<style>
	.love {
		text-align: center;
		display: flex;
		margin-top: 120px;
	}

	.centered {
		margin: auto;
	}

	.board {
		background-color: #CF4E26;
		position: relative;
		z-index: 1;
		padding: 24px;
    border-radius: 6px;
	}

	.board:before {
		position: absolute;
		content: "";
		display: block;
		background: white;
		border: 1px solid #CF4E26;
		left: -10px;
		right: 10px;
		top: -10px;
		bottom: 10px;
    border-radius: 6px;
		z-index: 2;
	}

	.board h2 {
		position: relative;
		z-index: 9999;
		text-align: center;
		font-size: 40px;
		letter-spacing: 1px;
		font-weight: 800;
		margin-bottom: 40px;
	}

	.board h2 strong {
		color: #CF4E26;
	}

	.contribute {
		position: relative;
		z-index: 9999;
		text-align: left;
	}

	.contribute h3 {
		font-size: 24px;
		color: #CF4E26;
		font-weight: 700;
		letter-spacing: .5px;
		margin-bottom: 0;
	}

	.contribute p {
		margin-top: 0;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 40px;
	}
  .contribute u {
    cursor: pointer;
    font-weight: 600;
  }

  .modal_content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .modal_content h3 {
    color: #CF4E26;
    font-size: 24px;
    font-weight: 700;
  }

.awesome_list {
    list-style: tibetan !important;
    padding-left: 20px !important;
}

.awesome_list li {
  margin-bottom: 16px;
}
</style>

<div class="love row">
	<div class="col-8 centered">
		<div class="board">
			<h2>We <strong>️️❤</strong> the commons</h2>
			<div class="contribute">
				<h3>We contribute</h3>
				<p>As strong supporters of free/libre production, we make all our original creations available using
					libre licenses (such as AGPL or Creative Commons).</p>
				<h3>We support upstream work</h3>
				<p>We also put aside 5% of our revenue to directly support the creators and maintainers of commons
					tools, libraries, infrastructure, art, or content that we rely on.</p>
				<h3>We encourage clients to be awesome</h3>
				<p style="margin-bottom: 4px">We support ethical projects <u on:click="{() => showModal = true}">with up to 35% off.</u></p>
				
			</div>
		</div>
	</div>
{#if showModal}
    <Modal on:close="{() => showModal = false}">
      <div class="modal_content">
          <p>We offer <strong>5% discounts</strong> from our standard rates <strong>for meeting any of
              the following criteria</strong>. These <strong>discounts <em>are</em>
              cumulative</strong>.</p>
          <ul>
            <li>
              <h3>Awesome projects</h3>
              <ul class="awesome_list">
                <li><strong>Free/libre <em>and</em> copyleft</strong> (eg. AGPL or CC-SA
                  licensed)</li>
                <li><strong>Decentralised</strong> (eg. P2P, federated) and/or
                  <strong>Interoperable</strong> using open protocols and APIs (eg.
                  ActivityPub)</li>
                <li><strong>Security and Privacy</strong> built-in (eg. end-to-end encryption)
                </li>
              </ul>
            </li>
            <li>
              <h3>Awesome organisations</h3>
              <ul class="awesome_list">
                <li><strong>Not-for-profit</strong> (eg. cooperative or non-profit organisation)
                </li>
                <li><strong>Non-hierarchical</strong> (eg. sociocracy for decision-making)</li>
              </ul>
            </li>
            <li>
              <h3>Awesome toolkits</h3>
              <ul class="awesome_list">
                <li>Compatible with <strong>ActivityPub</strong>/ActivityStreams/ValueFlows
                  syntax or vocabulory</li>
                <li>Leverages the <a href="https://bonfire.cafe/"><strong>Bonfire ecosystem</strong></a> for modular federation</li>
              </ul>
            </li>
          </ul>
        </div>
  </Modal>
{/if}
</div>