<style>
 .footer {
	 margin-top: 120px;
	 margin-bottom: 60px;

 }
 .footer h3 {
	 color: #CF4E26;
	 font-size: 18px;
	 font-weight: 700;
 }
 .footer p {
	 margin: 0;
	 
 }
</style>

<div class="footer" id="footer">
    <div class="row">
    <h3>Let's talk about cooperating on a project!</h3>
        <p>Write a letter to <a href="mailto:hello@zo.team">hello@zo.team</a></p>
    </div>
</div>