<style>
	.hero {
		margin-top: 70px;
		position: relative;
	}

	.hero h1 {
		color: #CF4E26;
		font-size: 31px;
		line-height: 50px;
		letter-spacing: 2px;
		font-weight: 700;
	}

	.hero h1 strong {
		font-variant: small-caps;
		color: #CF4E26;
		font-weight: 800;
		font-size: 33px;
	}

	.hero h2 {
		font-size: 22px;
		font-weight: 700;
		line-height: 34px;
		letter-spacing: .5px;
		margin-top: 0px;
		font-weight: normal;
	}

	.hero a {
		height: 40px;
		border-radius: 100px;
		width: 160px;
		background: #CF4E26;
		border: 1px solid #000;
		color: white;
		display: block;
		text-align: center;
		line-height: 40px;
		text-decoration: none;
		margin-top: 40px;
		font-weight: 500;
	}

	/* .hero h2 img {
	margin-right: 5px;
	width: 22px;
} */

	.hero ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.hero ul li {
		background: url('/favicon.jpg') no-repeat left top;
		background-size: 36px;
		background-position-y: 4px;
		padding-left: 55px;
		padding-top: 0px;
	}

	.hero ul li:nth-child(1) {
		background-image: url('/farmer.png');
	}

	.hero ul li:nth-child(2) {
		background-image: url('/potion.png');
	}

	.hero ul li:nth-child(3) {
		background-image: url('/favicon.png');
	}

	.hero li strong {
		font-weight: 500;
	}
</style>

<div class="hero row">
	<div class="col-6">
		<h1><strong>zo</strong> is a small co-operative team of designers & developers working on open and decentralised
			technology</h1>
	</div>
	<div class="col-6">
		<ul>
			<li>
				<h2>We <strong>create</strong> innovative solutions and libre tools that <strong>people actually
						need</strong>, for ourselves, our clients, or with the support of crowdfunding. </h2>
			</li>
			<li>
				<h2>We <strong>improve, remix, combine, and customise</strong> open source software.</h2>
			</li>
			<li>
				<h2>We <strong>support communities</strong> to setup and maintain their <strong>own
						infrastructure</strong>.</h2>
			</li>
		</ul>

		<a href="#footer">Get in touch</a>
	</div>
</div>