<script>
	export let segment;
</script>

<style>
	nav {
		font-weight: 300;
		position: relative;
	}

	.logo  img {
		width: 100px;
		margin-top: 8px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
		margin-right: 30px;
	}

	li a {
		display: flex;
		align-items: center;
		font-size: 16px;
		letter-spacing: .5px;
		font-weight: 700;
	}

	.icon {
		margin-right: 8px;
		font-size: 32px;
	}
	
	.icon img {
		width: 32px;
	}

	.selected  {
		color: #FBC546
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(255,62,0);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}

	.contacts {
		 position: absolute;
		right: 0;
		background: #fbeac3;
		border-right: 4px solid #ecd49a;
		padding: 8px;
		width: 200px;
		top: 4px;
		z-index: 99999;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-radius: 4px;
	}

	.contacts ul li {
		margin-bottom: 16px;
	}
	.contacts ul li h5 {
		text-transform: uppercase;
		font-weight: 500;
		margin: 0;
		font-family: 'Boogaloo', cursive;
	}

</style>

<nav>
	<ul>
		<li><a class='logo' href='.'><img src='logo.png' alt='zo logo' /></a></li>
		<li>
			<a class='{segment === "about" ? "selected" : ""}' href='about'>
			<span class='icon'><img src="farmer.png" alt='about' /></span>about zo</a>
		</li>
		<li>
			<a class='{segment === "projects" ? "selected" : ""}' href='projects'>
			<span class='icon'><img src="potion.png" alt="projects" /></span>projects</a>
		</li>
		<li>
			<a class='{segment === "services" ? "selected" : ""}' href='services'>
			<span class='icon'><img src="arrow.png" alt='services' /></span>services</a>
		</li>
		<!-- for the blog link, we're using rel=prefetch so that Sapper prefetches
		     the blog data when we hover over the link or tap it on a touchscreen -->
		<li>
			<a rel=prefetch class='{segment === "blog" ? "selected" : ""}' href='blog'>
			<span class='icon'><img src="pencil.png" alt='blog' /></span>blog</a>
			</li>
	</ul>
	<div class="contacts">
	  <span class='icon'><img src="mailbox.png" alt="contacts" /></span>
	  <ul>
		<li><h5>Fediverse</h5>
		<b>zoers@zo.team</b></li>
		<li>
			<h5>code</h5>
			<b><a href="https://gitlab.com/zo-team">@zo-team</a></b>
		</li>
		<li><h5>email</h5>
		<b>hello@zo.team</b></li>
		<li><h5>telegram</h5>
		<b>@zoteam</b></li>
	  </ul>
	</div>
</nav>