<style>
.showcase {
	background: #f2f1ed;
	margin-top: 120px;
	padding: 40px 0;
}

.showcase h4 {

	font-size:20px;
	font-weight: 800;
	text-transform: uppercase;
	color: #CF4E26;
	border-bottom: 6px solid #CF4E26;
	padding-bottom: 6px;
	display: inline-block;
	margin-bottom: 32px;
}

.showcase a {
	font-size: 2em;
	font-weight: 800;
	color:#d9d6cc;
}
</style>

<div class="showcase">
		<div class="container">
		  <div class="row collapsed">
			    <h4>Latest projects</h4>
					<div class="row">
					<div class="col-3 col-6-sm"><a target="blank" href="https://bonfire.cafe/">Bonfire</a></div>
					<div class="col-3 col-6-sm"><a target="blank" href="https://moodle.net/">MoodleNet</a></div>
					<div class="col-3 col-6-sm"><a target="blank" href="https://haha.academy/">HAHA Academy</a></div>
					<div class="col-3 col-6-sm"><a target="blank" href="https://thecopy.team/">The Copy Team.</a></div>
					</div>
			</div>
		</div>
	</div>